@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: "Martian";
    src: url("/fonts/MartianMono-VariableFont_wdth\,wght.ttf");
}

@font-face {
    font-family: "Ubuntu";
    src: url("/fonts/Ubuntu-Light.ttf");
}
@font-face {
    font-family: "Nunito";
    src: url("/fonts//NunitoSans-VariableFont_YTLC\,opsz\,wdth\,wght.ttf");
}